fastapi
uvicorn[standard]
pydantic>=2.0.0
pydantic-settings
python-dotenv
grpcio
grpcio-tools
langchain>=0.3.0
langchain-core
langchain-community
langchain-openai
langchain-deepseek
langgraph
llama-parse
langchain-text-splitters
sqlalchemy
aiomysql
cryptography
redis
chromadb
tenacity
httpx
aiosqlite
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
pyyaml
openai
pytest